body {
    font-family: Source Sans Pro,sans-serif;
    background-color: whitesmoke;
    color: #171616;
}

.centered {
    margin: auto;
    text-align: center;
}

.left-aligned {
    margin-left: 100px;
    margin-right: 100px;
}

.header {
    position: fixed;
    top: 0;
    width: 100%;
    background: whitesmoke;
}

#header-container {
    width: 100%px;
    height: 150px;
}

#hd-left {
    float: left;
    height: 120px;
    width: 120px;
}

#hd-middle {
    float: left;
    height: 120px;
    width: 400px;
}

#hd-right {
    float: left;
    height: 120px;
    width: 300px;
}

#search_bar {
    margin-top: 58px;
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 200px;
    background: #f1f1f1;
}
#search_button {
    margin-top: 58px;
    float: left;
    width: 40px;
    padding: 10px;
    background: #52c6d2;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
}
.page-content {
    padding-top: 150px;
}

.page-title {
    color: #F68A07FF;
    text-align: center;
}
h2 {
    color: #52c6d2;
}
.header img {
    float: left;
    width: 120px;
    height: 120px;
    background: whitesmoke;
}

.button {
    margin-top: 30px;
    margin-left: 50px;
    background-color: #52c6d2;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.button:hover {
  background-color: #F68A07FF;
}

.post-button {
    border: none;
    margin-top: 30px;
    margin-left: 0px;
    background-color: #F68A07FF;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.post-button:hover {
  background-color: #52c6d2;
}

.small-button {
    border: none;
    margin-top: 30px;
    margin-left: 0px;
    background-color: #F68A07FF;
    color: white;
    padding: 8px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.small-button:hover {
  background-color: #52c6d2;
}

table.a {
    color: white;
}

#question-list {
    margin: auto;
    border-collapse: collapse;
    width: 80%;
}

#question-list a {
    color: white;
}

#question-list a:hover {
    color #F68A07FF;
}
#question-list td, #question-list th {
  border: 1px solid #ddd;
  padding: 8px;
}

#question-list tr:nth-child(even){background-color: #f2f2f2;}

#question-list tr:hover {background-color: #ddd;}

#question-list th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #52c6d2;
  color: white;
}

#hover-hd:hover {
    background-color: #F68A07FF;
}

#question-list #blue-link {
    color: #52c6d2;
}

#question-list #blue-link:hover {
    color: #F68A07FF;
}
.bubble {
    z-index: -1;
    margin-left: 0px;
    width: 700px;
    margin-top: 30px;
    margin-bottom: 30px;
    background: #52c6d2;
    padding: 20px;
    text-align: left;
    font-weight: 900;
    color: #fff;
    font-family: arial;
    position:relative;
}

.bubble:before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 10px solid #52c6d2;
    border-right: 10px solid transparent;
    border-top: 10px solid #52c6d2;
    border-bottom: 10px solid transparent;
    left: 20px;
    bottom: -20px;
}