{% extends "list.html" %}
{% block title %}Ask Mate - Add comment!{% endblock title %}
{% block page_content %}
<div class="centered">
{% block page_title %}<h1 class="page-title">Add comment!</h1>{% endblock %}
    <form {% block comment_action %}action="/question/{{ question_id }}/new_comment"{% endblock %} method="post">
        <p><label for="message-input"><h3>Your comment:</h3></label></p>
            <textarea id="message-input" name="message" minlength="5" rows="20" cols="100"></textarea>
        <p><button class="post-button" type="submit">Post comment!</button></p>
    </form>
</div>
{% endblock %}
