{% extends "list.html" %}
{% block title %}Ask Mate - Answer a question!{% endblock title %}
{% block heading %}Answer a question!{% endblock heading %}
{% block page_content %}
    <form action="/question/{{ question_id }}/new_answer" method="post">
        <p><label for="message-input">Your answer:</label></p>
            <textarea id="message-input" name="message" minlength="5" rows="6" cols="30"></textarea>
        <p><button type="submit">Post answer!</button></p>
    </form>
{% endblock %}
