<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <meta charset="utf-8">
      <title>{% block title %}Ask Mate{% endblock title %}</title>
      <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
      <link rel="icon" href="{{ url_for('static', filename='images/logo_200x200.png') }}">
  </head>
  <body>
  <div class="content-wrapper">
      <div class="header">
          <div id="header-container">
              <div id="hd-left"><a href="/"><img src="/static/images/logo_200x200.png" alt="logo" /></a></div>

              <div>
                  {% if logged_in %}
                      <div id="hd-last-name">
                      <h2 id="login-name">Logged in as: {{ username }}</h2>
                  {% endif %}
                      </div>
              </div>
          </div>

          <div class="topnav">
              <a class="active" href="/">Home</a>
              <a href="/list">Go to questions</a>
              <a href="/users">List users</a>
              {% if logged_in %}
                  <a href="/add-question">Ask a question</a>
              {% else %}
              {% endif %}

              {% if logged_in %}
              <a href="/logout">Log out</a></h3>
              {% else %}
              <a href="/login">Login</a>
              {%  endif %}

              <div class="search-container">
                  <form action="/search">
                      <input type="text" placeholder="Search.." name="search">
                      <button type="submit"><i class="fa fa-search"></i></button>
                  </form>
              </div>
              {% block login_button %}

              {% endblock %}

          </div>
      </div>
      <div class="page-content">
        {% block page_content %}
        {% block page_title %}{% endblock %}
        {% block table_header %}{% endblock table_header %}
        {% block home_button %}
        {% endblock home_button %}
        {% endblock page_content %}
  </body>
</html>
