{% extends "list.html" %}
{% block page_title %}
    {% if not searched %}
        <h1 class="page-title">Recent questions</h1>
    {% else %}
        <h1 class="page-title">Searched questions</h1>
    {% endif %}
{% endblock %}
              {% block table_header %}
              <tr>
                  {% for header in question_headers %}
                    {% if header == 'Id' or header == 'Image' %}
                        <th align="center">{{header}}</th>
                    {% else %}
                        <th align="center">{{header}}</th>
                    {% endif %}
                  {% endfor %}
              </tr>
              {% endblock table_header %}