<<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Ask Mate</title>
  </head>
  <body>
    <h1>{% block heading %}Questions{% endblock heading %}</h1>
    <p><br></p>
        <table  style="text-aign:center" border="1">
            <tr>
                {% for header in question_headers %}
                <th align="center"> {{header}} </th>
                {% endfor %}
            </tr>
            {% for question in questions %}
            <tr>
                {% for key in question.keys() %}
                <td align="center">{{question[key]}}</td>
                {% endfor %}
            </tr>
            {% endfor %}
  </body>
</html>