<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <meta charset="utf-8">
      <title>{% block title %}Ask Mate{% endblock title %}</title>
      <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
      <link rel="icon" href="{{ url_for('static', filename='images/logo_200x200.png') }}">
  </head>
  <body>
  <div class="content-wrapper">

      <div class="header">
          <div id="header-container">

              <div id="hd-left"><a href="/"><img src="/static/images/logo_200x200.png" alt="logo" /></a></div>
              <div id="hd-middle"><h2><a href="/add-question" class="button">Ask a question!</a></h2></div>
              <div id="hd-right">
                  <form action="/search">
                      <label for="search_bar"></label>
                      <div id="search-input"><input type="text" name="q" placeholder="Search..." id="search_bar"></div>
                      <div id="search-button"><button type="submit" id="search_button"><i class="fa fa-search"></i></button></div>
                  </form>
              </div>
          </div><hr>
      </div>
      <div class="page-content">

      {% block page_content %}
      {% block page_title %}<h1 class="page-title">All questions</h1>{% endblock %}
      <div class="table">
          <table id="question-list">
              {% block table_header %}
              <tr>
                  {% for header in question_headers %}
                    {% if header == 'Id' or header == 'Image' %}
                        <th align="center"> {{header}}</th>
                    {% else %}
                        <th id="hover-hd" align="center"><a href="/list?order_by={{ "_".join(header.lower().split(" ")) }}&order_direction={{ if_reversed }}">{{header}}</a></th>
                    {% endif %}
                  {% endfor %}
              </tr>
              {% endblock table_header %}
            {% for question in questions %}
              <tr>
                {% for key in question.keys() %}
                {% if key == 'id' %}
                    <td align="center"><a id="blue-link" href="/question/{{ question['id'] }}">{{question['id']}}</a></td>
                {% elif key == 'image' %}
                    {% if question["image"] %}
                        <td align="center"><img src="{{ url_for("static", filename="/images/question/" + question[key]) }}" alt="User image." width="100"></td>
                    {% else %}
                        <td align="center">No pic added...</td>
                    {% endif %}
                {% else %}
                    <td align="center">{{question[key]}}</td>
                {% endif %}
                {% endfor %}
              </tr>
            {% endfor %}
          </table>
          </div>
      </div>

  </div>
  {% block home_button %}
  {% endblock home_button %}
  {% endblock %}
  </body>
</html>
