<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}Ask Mate{% endblock title %}</title>
  </head>
  <body>
    <h1>{% block heading %}Questions{% endblock heading %}</h1>
    <p><br></p>
        {% block page_content %}
        <table  style="text-aign:center" border="1">
            <tr>
                {% for header in question_headers %}
                <th align="center"> {{header}} </th>
                {% endfor %}
            </tr>
            {% for question in questions %}
            <tr>
                {% for key in question.keys() %}
                {% if key == 'id' %}
                    <td align="center"><a href="/question/{{ question['id'] }}">{{question['id']}}</a></td>
                {% else %}
                    <td align="center">{{question[key]}}</td>
                {% endif %}
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
        {% endblock %}
  </body>
</html>
