{% extends "layout.html" %}
{% block title %}Ask Mate - Sign up!!{% endblock title %}
{% block heading %}Signing up...{% endblock heading %}
{% block page_content %}
    <div class="centered">
    {% block page_title %}<h1 class="page-title">Please log in!</h1>{% endblock %}
    {% if not verified %}
        <h3>Invalid login attempt!</h3>
    {% endif %}
    <form {% block action %}action="/login"{% endblock action %} method="post" enctype="multipart/form-data">
        <p><label for="email-input"><h3>E-mail:</h3></label></p>
            <input  class="registration" id="email-input" name="email" minlength="6" size="30"{% block bodytitle %}{% endblock bodytitle %}>
        <p><label for="password-input"><h3>Password:</h3></label></p>
            <input type="password" class="registration" id="password-input" name="password" minlength="3" size="30">
        <p><h3><button class="post-button" type="submit">{% block button %}<strong>Submit</strong>{% endblock button %}</button></h3></p>
        <h3><a class="post-button" href="/sign-up">Sign Up!</a></h3>
    </form>
</div>
{% endblock %}