{% extends "list.html" %}
{% block title %}Ask Mate - {{ user["username"] }}{% endblock title %}
{% block page_content %}
    <div class="centered">
    {% block page_title %}
        <h1 class="page-title">{{ user["username"] }}</h1>
    {% endblock %}
    {% if user["image"] %}
        <img src="{{ url_for("static", filename="/images/profile/" + user["image"]) }}"
             alt="profile picture"
             class="profile-picture"
             width="300">
    {% else %}
        <img src="{{ url_for("static", filename="/images/" + "default.jpg") }}"
             alt="default picture"
             class="profile-picture"
             width="300">
    {% endif %}
    <br><small>Member since: {{ user["registration_date"] }}</small>&nbsp;&nbsp;
    <small>User ID: {{ user["id"] }}</small>
    <h2>Reputation: {{ user["reputation"] }}</h2>
    </div>
{% endblock %}