{% extends "list.html" %}
{% block title %}Ask Mate - {{ user["username"] }}{% endblock title %}
{% block page_content %}
    <div class="centered">
        {% block page_title %}
            <h1 class="page-title">{{ user["username"] }}</h1>
        {% endblock %}
        {% if user["image"] %}
            <img src="{{ url_for("static", filename="/images/profile/" + user["image"]) }}"
                 alt="profile picture"
                 class="profile-picture">
        {% else %}
            <img src="{{ url_for("static", filename="/images/" + "default.jpg") }}"
                 alt="default picture"
                 class="profile-picture">
        {% endif %}
        <div id="details" class="centered">
            <br><small>Member since: {{ user["registration_date"] }}</small>&nbsp;&nbsp;
            <small>User ID: {{ user["id"] }}</small>&nbsp;&nbsp;
            <br><small>Questions: {{ question_count }}</small>&nbsp;&nbsp;
            <small>Answers: {{ answer_count }}</small>&nbsp;&nbsp;
        </div>
        <h2>Reputation: {{ user["reputation"] }}</h2>&nbsp;&nbsp;
    </div>
    <div class="centered">
        <h3>{{ user["username"] }}'s questions:</h3>
        {% if user_questions %}
            <table id="display-list">
                {% for header in question_headers %}
                    <th align="center">{{header}}</th>
                {% endfor %}
                {% for question in user_questions %}
                    <tr>
                    {% for key in question.keys() %}
                        {% if key == 'id' %}
                            <td align="center"><a id="blue-link" href="/question/{{ question['id'] }}">{{question['id']}}</a></td>
                        {% elif key == 'image' %}
                            <td align="center"><img src="{{ url_for("static", filename="/images/question/" + question[key]) }}" alt="User image." width="100"></td>
                        {% else %}
                            <td>{{ question[key] }}</td>
                        {% endif %}
                    {% endfor %}
                    </tr>
                {% endfor %}
            </table>
        {% else %}
            No questions yet...
        {% endif %}
    </div>
    <div class="centered">
        <h3>{{ user["username"] }}'s answers:</h3>
        {% if user_answers %}
            <table id="display-list">
                {% for header in answer_headers %}
                    <th align="center">{{ header }}</th>
                {% endfor %}
                {% for answer in user_answers %}
                    <tr>
                    {% for key in answer.keys() %}
                        {% if key == 'id' %}
                            <td align="center"><a id="blue-link" href="/question/{{ answer['question_id'] }}">{{answer['id']}}</a></td>
                        {% elif key == 'image' %}
                            <td align="center"><img src="{{ url_for("static", filename="/images/answer/" + answer[key]) }}" alt="User image." width="100"></td>
                        {% else %}
                            <td>{{ answer[key] }}</td>
                        {% endif %}
                    {% endfor %}
                    </tr>
                {% endfor %}
            </table>
        {% else %}
            No questions yet...
        {% endif %}
    </div>
{% endblock %}