{% extends "list.html" %}
{% block title %}Ask Mate - {{ user["username"] }}{% endblock title %}
{% block page_content %}
    <div class="centered">
            {% block page_title %}
                <h1 class="page-title">{{ user["username"] }}</h1>
            {% endblock %}
            {% if user["image"] %}
                <img src="{{ url_for("static", filename="/images/profile/" + user["image"]) }}"
                     alt="profile picture"
                     class="profile-picture">
            {% else %}
                <img src="{{ url_for("static", filename="/images/" + "default.jpg") }}"
                     alt="default picture"
                     class="profile-picture">
            {% endif %}
            <div id="details" class="centered">
                <br><small>Member since: {{ user["registration_date"] }}</small>&nbsp;&nbsp;
                <small>User ID: {{ user["id"] }}</small>&nbsp;&nbsp;
                <br><small>Questions: {{ question_count }}</small>&nbsp;&nbsp;
                <small>Answers: {{ answer_count }}</small>&nbsp;&nbsp;
                <small>Comments: {{ answer_count }}</small>
            </div>
            <h2>Reputation: {{ user["reputation"] }}</h2>&nbsp;&nbsp;
        </div>
    {% if logged_in %}
        <div class="centered">
            <h3>{{ user["username"] }}'s questions:</h3>
            {% if user_questions %}
                <table id="display-list">
                    {% for header in question_headers %}
                        <th align="center">{{header}}</th>
                    {% endfor %}
                    {% for question in user_questions %}
                        <tr>
                        {% for key in question.keys() %}
                            {% if key == 'id' %}
                                <td align="center"><a id="blue-link" href="/question/{{ question['id'] }}">{{question['id']}}</a></td>
                            {% elif key == 'image' %}
                                <td align="center"><img src="{{ url_for("static", filename="/images/question/" + question[key]) }}" alt="User image." width="100"></td>
                            {% else %}
                                <td>{{ question[key] }}</td>
                            {% endif %}
                        {% endfor %}
                        </tr>
                    {% endfor %}
                </table>
            {% else %}
                No questions yet...
            {% endif %}
        </div>
        <div class="centered">
            <h3>{{ user["username"] }}'s answers:</h3>
            {% if user_answers %}
                <table id="display-list">
                    {% for header in answer_headers %}
                        <th align="center">{{ header }}</th>
                    {% endfor %}
                    {% for answer in user_answers %}
                        <tr>
                        {% for key in answer.keys() %}
                            {% if key == 'id' %}
                                <td align="center"><a id="blue-link" href="/question/{{ answer['question_id'] }}">{{answer['id']}}</a></td>
                            {% elif key == 'image' %}
                                {% if answer["image"] %}
                                    <td align="center"><img src="{{ url_for("static", filename="/images/answer/" + answer[key]) }}" alt="User image." width="100"></td>
                                {% else %}
                                    <td>No image added...</td>
                                {% endif %}
                            {% elif key == 'accepted' %}
                                {% if answer['accepted'] == False %}
                                    <td><img src="{{ url_for("static", filename="images/x_icon.png") }}"
                                             height="50"></td>
                                {% else %}
                                    <td><img src="{{ url_for("static", filename="images/swoosh.png") }}"
                                             height="50"></td>
                                {% endif %}
                            {% else %}
                                <td>{{ answer[key] }}</td>
                            {% endif %}
                        {% endfor %}
                        </tr>
                    {% endfor %}
                </table>
            {% else %}
                No answers yet...
            {% endif %}
        </div>
        <div class="centered">
            <h3>{{ user["username"] }}'s comments:</h3>
            {% if user_comments %}
                <table id="display-list">
                    {% for header in comment_headers %}
                        <th align="center">{{ header }}</th>
                    {% endfor %}
                    {% for comment in user_comments %}
                        <tr>
                        {% for key in comment.keys() %}
                            {% if key == 'id' %}
                                <td align="center"><a id="blue-link" href="/question/{{ comment['question_id'] }}">{{comment['id']}}</a></td>
                            {% else %}
                                <td>{{ comment[key] }}</td>
                            {% endif %}
                        {% endfor %}
                        </tr>
                    {% endfor %}
                </table>
            {% else %}
                No comments yet...
            {% endif %}
        </div>
    {% else %}
        <div class="centered">
            <h1 class="page-title">Log in to see user activity!</h1>
        </div>
    {% endif %}
{% endblock %}