{% extends "list.html" %}
{% block title %}Ask Mate - {{ question['title'] }}{% endblock title %}
{% block heading %}{{question['title']}}{% endblock heading %}
{% block page_content %}
    <p style="border:1px; border-style:solid; padding: 10px;">{{question['message']}}</p>
    <p><small>Submission time: {{question['submission_time']}}&nbsp;&nbsp;Viewed: {{question['view_number']}}&nbsp;&nbsp;Vote(s): {{question['vote_number']}}&nbsp;&nbsp;{{question['image']}}</small></p>
    <p>
        <button onclick="window.location.href='/question/{{ question_id }}/vote_up';">Vote up</button>&nbsp;&nbsp;
        <button onclick="window.location.href='/question/{{ question_id }}/vote_down';">Vote down</button>&nbsp;&nbsp;
        <button onclick="window.location.href='/question/{{ question_id }}/new_answer';">Answer this question</button>
    </p>
    <br/>
    <h3><strong>Answers:</strong></h3>
      {% for answer in answers %}
        <p>{{answer['message']}}</p>
        <p><small>Vote(s): {{answer['vote_number']}}&nbsp;&nbsp;{{answer['image']}}</small></p>
        <p><button onclick="window.location.href='/answer/{{ answer['id'] }}/vote_up';">Vote up</button>&nbsp;&nbsp;<button onclick="window.location.href='/answer/{{ answer['id'] }}/vote_down';">Vote down</button></p>
        <hr>
      {% endfor %}
    <p><a href="/">Back to questions...</a></p>
{% endblock page_content %}
