{% extends "list.html" %}
{% block title %}Ask Mate - {{ question['title'] }}{% endblock title %}
{% block page_content %}
{% block heading %}{% endblock heading %}
<div class="left-aligned">
    <h2>{{question['title']}}</h2>
    <div class="bubble">
        {{question['message']}}
    </div>
    <div>
        {% if question["image"] %}
            <p><img src="{{ url_for("static", filename="/images/question/" + question["image"]) }}" alt="User image." width="450"></p>
        {% endif %}
            <small>
                Submission time: {{question['submission_time']}}&nbsp;&nbsp;
                Vote(s): {{question['vote_number']}}&nbsp;&nbsp;
                Viewed: {{ question['view_number'] }}&nbsp;&nbsp;
                Tags:
                {% for tag in tags %}<span class="tag">{{ tag['name'] }}</span><a class="tag-button" href="./{{ question["id"] }}/tag/{{ tag["id"] }}/delete"><i class="fa fa-close"></i></a>&nbsp;&nbsp;{% endfor %}
            </small>
    </div>
    {% if logged_in %}
    <div class="buttons">
            <button class="small-button" onclick="window.location.href='/question/{{ question_id }}/vote_up';">Vote up</button>&nbsp;&nbsp;
            <button class="small-button" onclick="window.location.href='/question/{{ question_id }}/vote_down';">Vote down</button>&nbsp;&nbsp;
            <button class="small-button" onclick="window.location.href='/question/{{ question_id }}/new_answer';">Answer this question</button>&nbsp;&nbsp;
            <button class="small-button" onclick="window.location.href='/question/{{ question_id }}/new_comment';">New comment</button>&nbsp;&nbsp;
            {% if question["user_id"] == user_id %}
            <button class="small-button" onclick="window.location.href='/question/{{ question_id }}/delete_question';">Delete this question</button>&nbsp;&nbsp;
            <button class="small-button" onclick="window.location.href='/question/{{ question_id }}/edit_question';">Edit this question</button>&nbsp;&nbsp;
            <button class="small-button" onclick="window.location.href='/question/{{ question_id }}/new_tag';">Add tag</button>
            {% endif %}
    </div>
    {% endif %}
        <h3><strong>Comments:</strong></h3>
        {% if question_comments %}
            {% for comment in question_comments %}
                <div class="comment">
                <p>{{comment['message']}}</p>
                <p><small>Submission time: {{comment['submission_time']}}<br>
                    Edited: {{comment['edited_count']}}</small>&nbsp;&nbsp;
                {% if logged_in and comment["user_id"] == user_id %}
                <button class="smaller-button" onclick="window.location.href='/comment/{{ comment['id'] }}/edit';">Edit comment</button>&nbsp;&nbsp;
                <button class="trash-button"><i class="fa fa-trash" onclick="window.location.href='/comment/{{ comment['id'] }}/delete';"></i></button></p>
                {% endif %}
                </div>
        {% endfor %}
        {% else %}
            No comments yet...
        {% endif %}
        <h2><strong>Answers:</strong></h2>
          {% for answer in answers %}
            <p>{{answer['message']}}</p>
            <p>
                {% if answer["image"] %}
                    <img src="{{ url_for("static", filename="/images/answer/" + answer["image"]) }}" alt="User image." width="290">
                {% endif %}
            </p>
            <p><small>Vote(s): {{answer['vote_number']}}&nbsp;&nbsp;&nbsp;Submission time: {{answer['submission_time']}}</small></p>
        {% if logged_in %}
        <div class="buttons">
                <button class="small-button" onclick="window.location.href='/answer/{{ answer['id'] }}/vote_up';">Vote up</button>&nbsp;&nbsp;
                <button class="small-button" onclick="window.location.href='/answer/{{ answer['id'] }}/vote_down';">Vote down</button>&nbsp;&nbsp;
                <button class="small-button" onclick="window.location.href='/answer/{{ answer['id'] }}/new_comment';">New comment</button>&nbsp;&nbsp;
                {% if answer["user_id"] == user_id %}
                <button class="small-button" onclick="window.location.href='/answer/{{ answer['id'] }}/delete_answer';">Delete this answer</button>&nbsp;&nbsp;
                <button class="small-button" onclick="window.location.href='/answer/{{ answer['id'] }}/edit';">Edit answer</button>
                {% endif %}
          </div>
        {% endif %}
        {% if question["user_id"] == user_id %}
            <div class="buttons"></div>
            <form action="/question/{{ question_id }}/accept_answer" method="post">
            {% if answer["accepted"] %}
                <input type="checkbox" id="accept" name="accept" value="rejected">
                <label for="accept"> Reject answer</label>
            {%  else %}
                <input type="checkbox" id="accept" name="accept" value="accepted">
                <label for="accept"> Accept answer</label>
            {%  endif %}
               <input class="smaller-button" type="submit" value="Submit">
            </form>
            {% endif %}
    <h4><strong>Comments:</strong></h4>
        {% if data_manager.look_for_comments('comments', 'answer_id', answer["id"]) %}
            {% for comment in data_manager.look_for_comments('comments', 'answer_id', answer["id"]) %}
                <div class="comment">
                <br>{{ comment["message"] }}<br><br>
                <small>Submission time: {{comment['submission_time']}}<br>
                    Edited: {{comment['edited_count']}}</small>&nbsp;&nbsp;
                {% if logged_in and comment["user_id"] == user_id %}
                <button class="smaller-button" onclick="window.location.href='/comment/{{ comment['id'] }}/edit';">Edit comment</button>&nbsp;&nbsp;
                <button class="trash-button"><i class="fa fa-trash" onclick="window.location.href='/comment/{{ comment['id'] }}/delete';"></i></button>
                {% endif %}
                </div>
            {% endfor %}
        {% else %}
            No comments yet...
        {% endif %}
              <hr>
      {% endfor %}
        <br><br><p><a class="post-button" href="/list">Back to questions...</a></p>
{% endblock page_content %}
</div>
