{% extends "list.html" %}
{% block title %}Ask Mate - Sign up!!{% endblock title %}
{% block page_content %}
    {% block page_title %}<h1 class="page-title">Signing you up...</h1>{% endblock %}
    <div class="centered">
        <form action="/sign-up" method="post" enctype="multipart/form-data">
            <label for="email-input"><h3>Email address:</h3></label><br>
                <input type="email" id="email-input" name="email" class="registration"><br>
            <label for="password-input"><h3>Password:</h3></label><br>
                <input type="text" id="password-input" name="password" class="registration"><br>
            <label for="username-input"><h3>Username:</h3></label><br>
                <input type="text" id="username-input" name="username" class="registration"><br>
        <button class="post-button" type="submit">Sign up!</button>
            <br><label for="image-input" ><h3>Choose profile picture:</h3></label>
                <input type="file" id="image-input" name="image">
        </form>
    <p><a class="post-button" href="/list">Back to questions...</a></p>
    </div>
{% endblock %}